In [ ]:
# Packages imports
import pandas as pd
import numpy as np
import datetime as dt
from functools import reduce
import matplotlib.pyplot as plt

In [2]:
# Import the dataset named "airbnb_price.csv" as a DataFrame called prices

prices = pd.read_csv('airbnb_price.csv')

# Display top few rows, the dataframe names as "prices"

prices.head()

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown

In [3]:
import pandas as pd

# Import the dataset named "airbnb_room_type.xlsx" as a DataFrame called xls
xls = pd.read_excel('airbnb_room_type.xlsx',sheet_name = 0)

# Access the first sheet from xls as a DataFrame
room_types = pd.DataFrame(xls)

# Display the room_types DataFrame
room_types.head()

   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt

In [4]:
# Import the dataset named "airbnb_last_review.tsv" as a DataFrame called reviews

reviews = pd.read_table('airbnb_last_review.tsv',sep="\t")

# Display top few rows, the dataframe names as "reviews"

reviews.head()

   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

In [5]:
# Get datatypes of column of prices df

prices.dtypes

listing_id      int64
price          object
nbhood_full    object
dtype: object

In [1]:
# Get DataFrame information

prices.info()

NameError: name 'prices' is not defined

In [7]:
# Get null values

prices.isnull().sum()

listing_id     0
price          0
nbhood_full    0
dtype: int64

In [8]:
# # Remove whitespace and string characters from prices column and change it to the integer
prices['price'] = prices['price'].str.replace(' dollars', '')

prices['price'] = prices['price'].astype('int')

In [9]:
# Verify that Revenue is now an integer
assert prices['price'].dtype == 'int'

In [10]:
prices[prices['price'] == 0]

       listing_id  price                   nbhood_full
10861    20333471      0        Bronx, East Morrisania
10958    20523843      0            Brooklyn, Bushwick
11023    20639628      0  Brooklyn, Bedford-Stuyvesant
11024    20639792      0  Brooklyn, Bedford-Stuyvesant
11025    20639914      0  Brooklyn, Bedford-Stuyvesant
11577    21291569      0            Brooklyn, Bushwick
11589    21304320      0            Brooklyn, Bushwick

In [11]:
# analyze descriptive statistics of prices df
prices.describe()

         listing_id         price
count  2.520900e+04  25209.000000
mean   2.068922e+07    141.777936
std    1.102928e+07    147.349137
min    2.595000e+03      0.000000
25%    1.202273e+07     69.000000
50%    2.234391e+07    105.000000
75%    3.037669e+07    175.000000
max    3.645581e+07   7500.000000

In [12]:
# Drop zero-price values using .drop()
prices.drop(prices[prices['price'] == 0].index, inplace = True)
prices.shape

(25202, 3)

In [13]:
# Assert results
assert prices['price'].min() > 0

 1). What is the average price, per night, of an Airbnb listing in NYC?

In [14]:
# Calculate the average price, store it as Avg_price
Avgerage_price = round(prices['price'].mean(),2)

print('The average price, per night, of an Airbnb listing in NYCAvg_price : $' + str(Avgerage_price))

The average price, per night, of an Airbnb listing in NYCAvg_price : $141.82

2).How does the average price of an Airbnb listing, per month, compare to the private rental market?

In [15]:
# Add a new column, price_per_month, to the prices DataFrame, assuming a year consists of 365 days

prices['price_per_month'] = prices["price"] * 365/12

In [16]:
# Calculate the average price of the price_per_month column and store as a new variable, 
#Average_price_per_month,

Average_price_per_month = prices['price_per_month'].mean()

# rounded to two decimal places
Average_price_per_month = round(Average_price_per_month,2)

print('The average price, per month, of an Airbnb listing in NYCAvg_price: $' + str(Average_price_per_month))

The average price, per month, of an Airbnb listing in NYCAvg_price: $4313.61

In [17]:
# Calculate how much more, in dollars, the average cost of an Airbnb listing is versus the private market, 
# and store it as Difference, rounding your final answer to two decimal places.

# According to Zumper,a 1 bedroom apartment in New York City costs, on average, $3,100 per month.

# Therefore benchmark for comparison = $3,100 per month

Difference = round((Average_price_per_month - 3100),2)

print('The difference compare to the private rental market: $' + str(Difference))

The difference compare to the private rental market: $1213.61

3).How many adverts are for private rooms?

In [18]:
# Get datatypes of column of room_types df

room_types.dtypes

listing_id      int64
description    object
room_type      object
dtype: object

In [19]:
# Get DataFrame information

room_types.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   description  25199 non-null  object
 2   room_type    25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB

In [20]:
# Get null values

room_types.isnull().sum()

listing_id      0
description    10
room_type       0
dtype: int64

In [21]:
# Convert to categorical
room_types['room_type'] = room_types['room_type'].astype('category')

In [22]:
# identify the value Inconsistency fields 
room_type_counts = room_types['room_type'].value_counts()
print(room_type_counts)

Entire home/apt    8458
Private room       7241
entire home/apt    2665
private room       2248
ENTIRE HOME/APT    2143
PRIVATE ROOM       1867
Shared room         380
shared room         110
SHARED ROOM          97
Name: room_type, dtype: int64

In [23]:
# Fix the Capitalization
room_types['room_type'] = room_types['room_type'].str.capitalize()
room_types['room_type'].value_counts()

Entire home/apt    13266
Private room       11356
Shared room          587
Name: room_type, dtype: int64

In [24]:
# Strip all spaces
room_types['room_type'] = room_types['room_type'].str.strip()
# store the room_types in Room_frequencies
Room_frequencies = room_types['room_type'].value_counts()

Room_frequencies

Entire home/apt    13266
Private room       11356
Shared room          587
Name: room_type, dtype: int64

In [25]:
print('The Number of Private rooms are adverted : 11356')

The Number of Private rooms are adverted : 11356

4. What timeframe are we working with?

In [26]:
# Get datatypes of column of reviews df

reviews.dtypes

listing_id      int64
host_name      object
last_review    object
dtype: object

In [27]:
# Get DataFrame information

reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   host_name    25201 non-null  object
 2   last_review  25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB

In [28]:
# Get null values

reviews.isnull().sum()

listing_id     0
host_name      8
last_review    0
dtype: int64

In [29]:
#Convert last_review column to date
reviews['last_review'] = pd.to_datetime(reviews['last_review'])

In [30]:
# check
reviews.dtypes

listing_id              int64
host_name              object
last_review    datetime64[ns]
dtype: object

In [31]:
# Create First_reviewed, the earliest review date
First_reviewed = reviews["last_review"].dt.date.min()

print("first_reviewed date :",First_reviewed)

first_reviewed date : 2019-01-01

In [32]:
# Create Last_reviewed, the most recent review date
Last_reviewed = reviews["last_review"].dt.date.max()

print("last_reviewed date :",Last_reviewed)

last_reviewed date : 2019-07-09

5.Joining the DataFrames

In [33]:
#merge the three DataFrames to make any future analysis easier to conduct. Once we have joined the data, 
#we will remove any observations with missing values and check for duplicates.
#from functools import reduce

#define list of DataFrames
df1 =pd.DataFrame(prices)
df2 =pd.DataFrame(room_types)
df3 =pd.DataFrame(reviews)

dfs = [df1, df2, df3]

In [34]:
#merge all DataFrames into one
airbnb_merged = reduce(lambda  left,right: pd.merge(left,right,on=['listing_id'],
                                            how='outer'), dfs)

airbnb_merged

,listing_id,price,nbhood_full,price_per_month,description,room_type,host_name,last_review
0,2595,225.0,"Manhattan, Midtown",6843.750000,Skylit Midtown Castle,Entire home/apt,Jennifer,2019-05-21
1,3831,89.0,"Brooklyn, Clinton Hill",2707.083333,Cozy Entire Floor of Brownstone,Entire home/apt,LisaRoxanne,2019-07-05
2,5099,200.0,"Manhattan, Murray Hill",6083.333333,Large Cozy 1 BR Apartment In Midtown East,Entire home/apt,Chris,2019-06-22
3,5178,79.0,"Manhattan, Hell's Kitchen",2402.916667,Large Furnished Room Near B'way,Private room,Shunichi,2019-06-24
4,5238,150.0,"Manhattan, Chinatown",4562.500000,Cute & Cozy Lower East Side 1 bdrm,Entire home/apt,Ben,2019-06-09
...,...,...,...,...,...,...,...,...
25204,20639628,NaN,NaN,NaN,Spacious comfortable master bedroom with nice ...,Private room,Adeyemi,2019-06-15
25205,20639792,NaN,NaN,NaN,Contemporary bedroom in brownstone with nice view,Private room,Adeyemi,2019-06-21
25206,20639914,NaN,NaN,NaN,Cozy yet spacious private brownstone bedroom,Private room,Adeyemi,2019-06-23
25207,21291569,NaN,NaN,NaN,Coliving in Brooklyn! Modern design / Shared room,Shared room,Sergii,2019-06-22
25208,21304320,NaN,NaN,NaN,Best Coliving space ever! Shared room.,Shared room,Sergii,2019-05-24

In [35]:
airbnb_merged.dropna(inplace=True)

airbnb_merged

,listing_id,price,nbhood_full,price_per_month,description,room_type,host_name,last_review
0,2595,225.0,"Manhattan, Midtown",6843.750000,Skylit Midtown Castle,Entire home/apt,Jennifer,2019-05-21
1,3831,89.0,"Brooklyn, Clinton Hill",2707.083333,Cozy Entire Floor of Brownstone,Entire home/apt,LisaRoxanne,2019-07-05
2,5099,200.0,"Manhattan, Murray Hill",6083.333333,Large Cozy 1 BR Apartment In Midtown East,Entire home/apt,Chris,2019-06-22
3,5178,79.0,"Manhattan, Hell's Kitchen",2402.916667,Large Furnished Room Near B'way,Private room,Shunichi,2019-06-24
4,5238,150.0,"Manhattan, Chinatown",4562.500000,Cute & Cozy Lower East Side 1 bdrm,Entire home/apt,Ben,2019-06-09
...,...,...,...,...,...,...,...,...
25197,36425863,129.0,"Manhattan, Upper East Side",3923.750000,Lovely Privet Bedroom with Privet Restroom,Private room,Rusaa,2019-07-07
25198,36427429,45.0,"Queens, Flushing",1368.750000,No.2 with queen size bed,Private room,H Ai,2019-07-07
25199,36438336,235.0,"Staten Island, Great Kills",7147.916667,Seas The Moment,Private room,Ben,2019-07-07
25200,36442252,100.0,"Bronx, Mott Haven",3041.666667,1B-1B apartment near by Metro,Entire home/apt,Blaine,2019-07-07
25201,36455809,30.0,"Brooklyn, Bushwick",912.500000,"Cozy Private Room in Bushwick, Brooklyn",Private room,Christine,2019-07-08

In [36]:
#Identify duplicate values 
airbnb_merged.duplicated().sum()

0

In [37]:
#merge the three DataFrames to make any future analysis easier to conduct. Once we have joined the data, 
#we will remove any observations with missing values and check for duplicates.

# Merge prices and room_types to create rooms_and_prices
rooms_and_prices = prices.merge(room_types, how="outer", on="listing_id")

In [38]:
# Merge rooms_and_prices with the reviews DataFrame to create airbnb_merged
airbnb_merged1 = rooms_and_prices.merge(reviews, how="outer", on="listing_id")

In [39]:
airbnb_merged1

,listing_id,price,nbhood_full,price_per_month,description,room_type,host_name,last_review
0,2595,225.0,"Manhattan, Midtown",6843.750000,Skylit Midtown Castle,Entire home/apt,Jennifer,2019-05-21
1,3831,89.0,"Brooklyn, Clinton Hill",2707.083333,Cozy Entire Floor of Brownstone,Entire home/apt,LisaRoxanne,2019-07-05
2,5099,200.0,"Manhattan, Murray Hill",6083.333333,Large Cozy 1 BR Apartment In Midtown East,Entire home/apt,Chris,2019-06-22
3,5178,79.0,"Manhattan, Hell's Kitchen",2402.916667,Large Furnished Room Near B'way,Private room,Shunichi,2019-06-24
4,5238,150.0,"Manhattan, Chinatown",4562.500000,Cute & Cozy Lower East Side 1 bdrm,Entire home/apt,Ben,2019-06-09
...,...,...,...,...,...,...,...,...
25204,20639628,NaN,NaN,NaN,Spacious comfortable master bedroom with nice ...,Private room,Adeyemi,2019-06-15
25205,20639792,NaN,NaN,NaN,Contemporary bedroom in brownstone with nice view,Private room,Adeyemi,2019-06-21
25206,20639914,NaN,NaN,NaN,Cozy yet spacious private brownstone bedroom,Private room,Adeyemi,2019-06-23
25207,21291569,NaN,NaN,NaN,Coliving in Brooklyn! Modern design / Shared room,Shared room,Sergii,2019-06-22
25208,21304320,NaN,NaN,NaN,Best Coliving space ever! Shared room.,Shared room,Sergii,2019-05-24

In [40]:
airbnb_merged1.dropna(inplace=True)

In [41]:
airbnb_merged1

,listing_id,price,nbhood_full,price_per_month,description,room_type,host_name,last_review
0,2595,225.0,"Manhattan, Midtown",6843.750000,Skylit Midtown Castle,Entire home/apt,Jennifer,2019-05-21
1,3831,89.0,"Brooklyn, Clinton Hill",2707.083333,Cozy Entire Floor of Brownstone,Entire home/apt,LisaRoxanne,2019-07-05
2,5099,200.0,"Manhattan, Murray Hill",6083.333333,Large Cozy 1 BR Apartment In Midtown East,Entire home/apt,Chris,2019-06-22
3,5178,79.0,"Manhattan, Hell's Kitchen",2402.916667,Large Furnished Room Near B'way,Private room,Shunichi,2019-06-24
4,5238,150.0,"Manhattan, Chinatown",4562.500000,Cute & Cozy Lower East Side 1 bdrm,Entire home/apt,Ben,2019-06-09
...,...,...,...,...,...,...,...,...
25197,36425863,129.0,"Manhattan, Upper East Side",3923.750000,Lovely Privet Bedroom with Privet Restroom,Private room,Rusaa,2019-07-07
25198,36427429,45.0,"Queens, Flushing",1368.750000,No.2 with queen size bed,Private room,H Ai,2019-07-07
25199,36438336,235.0,"Staten Island, Great Kills",7147.916667,Seas The Moment,Private room,Ben,2019-07-07
25200,36442252,100.0,"Bronx, Mott Haven",3041.666667,1B-1B apartment near by Metro,Entire home/apt,Blaine,2019-07-07
25201,36455809,30.0,"Brooklyn, Bushwick",912.500000,"Cozy Private Room in Bushwick, Brooklyn",Private room,Christine,2019-07-08

In [42]:
#Identify duplicate values 
airbnb_merged1.duplicated().sum()

0

6.Analyzing listing prices by NYC borough

In [43]:
# Extract information from the nbhood_full column and store as a new column, borough
airbnb_merged["borough"] = airbnb_merged["nbhood_full"].str.partition(",")[0]

airbnb_merged["borough"]

0            Manhattan
1             Brooklyn
2            Manhattan
3            Manhattan
4            Manhattan
             ...
25197        Manhattan
25198           Queens
25199    Staten Island
25200            Bronx
25201         Brooklyn
Name: borough, Length: 25184, dtype: object

In [44]:
# Grouping by 'borough' and calculating summary statistics
borough = airbnb_merged.groupby('borough')['price'].agg(['sum', 'mean', 'median', 'count'])

# Round boroughs to 2 decimal places, and sort by mean in descending orde
borough = borough.round(2).sort_values('mean',ascending = False).reset_index()

borough =pd.DataFrame(borough)

print(borough)

         borough        sum    mean  median  count
0      Manhattan  1898417.0  184.04   149.0  10315
1       Brooklyn  1275250.0  122.02    95.0  10451
2         Queens   320715.0   92.83    70.0   3455
3  Staten Island    22974.0   86.04    71.0    267
4          Bronx    55156.0   79.25    65.0    696

7. Price range by borough

In [45]:
#Using cut() - create category ranges and names
ranges = [0,69,175,350,np.inf]
group_names = ['Budget', 'Average', 'Expensive','Extravagant']
# Create Price Range column
airbnb_merged['Price_Range'] = pd.cut(airbnb_merged['price'], bins=ranges,
labels=group_names)
airbnb_merged

,listing_id,price,nbhood_full,price_per_month,description,room_type,host_name,last_review,borough,Price_Range
0,2595,225.0,"Manhattan, Midtown",6843.750000,Skylit Midtown Castle,Entire home/apt,Jennifer,2019-05-21,Manhattan,Expensive
1,3831,89.0,"Brooklyn, Clinton Hill",2707.083333,Cozy Entire Floor of Brownstone,Entire home/apt,LisaRoxanne,2019-07-05,Brooklyn,Average
2,5099,200.0,"Manhattan, Murray Hill",6083.333333,Large Cozy 1 BR Apartment In Midtown East,Entire home/apt,Chris,2019-06-22,Manhattan,Expensive
3,5178,79.0,"Manhattan, Hell's Kitchen",2402.916667,Large Furnished Room Near B'way,Private room,Shunichi,2019-06-24,Manhattan,Average
4,5238,150.0,"Manhattan, Chinatown",4562.500000,Cute & Cozy Lower East Side 1 bdrm,Entire home/apt,Ben,2019-06-09,Manhattan,Average
...,...,...,...,...,...,...,...,...,...,...
25197,36425863,129.0,"Manhattan, Upper East Side",3923.750000,Lovely Privet Bedroom with Privet Restroom,Private room,Rusaa,2019-07-07,Manhattan,Average
25198,36427429,45.0,"Queens, Flushing",1368.750000,No.2 with queen size bed,Private room,H Ai,2019-07-07,Queens,Budget
25199,36438336,235.0,"Staten Island, Great Kills",7147.916667,Seas The Moment,Private room,Ben,2019-07-07,Staten Island,Expensive
25200,36442252,100.0,"Bronx, Mott Haven",3041.666667,1B-1B apartment near by Metro,Entire home/apt,Blaine,2019-07-07,Bronx,Average
25201,36455809,30.0,"Brooklyn, Bushwick",912.500000,"Cozy Private Room in Bushwick, Brooklyn",Private room,Christine,2019-07-08,Brooklyn,Budget

In [58]:
# Calculate occurence frequencies for each label, Prices_by_borough
Prices_by_borough = airbnb_merged.groupby(["borough", "Price_Range"])["Price_Range"].agg("count")

In [60]:
Prices_by_borough =pd.DataFrame(Prices_by_borough)

Prices_by_borough

                           Price_Range
borough       Price_Range
Bronx         Budget               381
              Average              285
              Expensive             25
              Extravagant            5
Brooklyn      Budget              3194
              Average             5532
              Expensive           1466
              Extravagant          259
Manhattan     Budget              1148
              Average             5285
              Expensive           3072
              Extravagant          810
Queens        Budget              1631
              Average             1505
              Expensive            291
              Extravagant           28
Staten Island Budget               124
              Average              123
              Expensive             20
              Extravagant            0

8.Export the datasets that you have cleaned.

In [48]:
airbnb_analysis = {'Avgerage_price':Avgerage_price,
                   'Average_price_per_month':Average_price_per_month,
                    'Difference':Difference,
                     'Room_frequencies':Room_frequencies,
                      'First_reviewed':First_reviewed,
                       'Last_reviewed':Last_reviewed,
                        'Prices_by_borough':Prices_by_borough}

print(airbnb_analysis)

{'Avgerage_price': 141.82, 'Average_price_per_month': 4313.61, 'Difference': 1213.61, 'Room_frequencies': Entire home/apt    13266
Private room       11356
Shared room          587
Name: room_type, dtype: int64, 'First_reviewed': datetime.date(2019, 1, 1), 'Last_reviewed': datetime.date(2019, 7, 9), 'Prices_by_borough':                            Price_Range
borough       Price_Range
Bronx         Budget               381
              Average              285
              Expensive             25
              Extravagant            5
Brooklyn      Budget              3194
              Average             5532
              Expensive           1466
              Extravagant          259
Manhattan     Budget              1148
              Average             5285
              Expensive           3072
              Extravagant          810
Queens        Budget              1631
              Average             1505
              Expensive            291
              Extravagant           28
Staten Island Budget               124
              Average              123
              Expensive             20
              Extravagant            0}

In [49]:
prices.to_csv

<bound method NDFrame.to_csv of        listing_id  price                 nbhood_full  price_per_month
0            2595    225          Manhattan, Midtown      6843.750000
1            3831     89      Brooklyn, Clinton Hill      2707.083333
2            5099    200      Manhattan, Murray Hill      6083.333333
3            5178     79   Manhattan, Hell's Kitchen      2402.916667
4            5238    150        Manhattan, Chinatown      4562.500000
...           ...    ...                         ...              ...
25204    36425863    129  Manhattan, Upper East Side      3923.750000
25205    36427429     45            Queens, Flushing      1368.750000
25206    36438336    235  Staten Island, Great Kills      7147.916667
25207    36442252    100           Bronx, Mott Haven      3041.666667
25208    36455809     30          Brooklyn, Bushwick       912.500000

[25202 rows x 4 columns]>

In [51]:
reviews.to_csv

<bound method NDFrame.to_csv of        listing_id    host_name last_review
0            2595     Jennifer  2019-05-21
1            3831  LisaRoxanne  2019-07-05
2            5099        Chris  2019-06-22
3            5178     Shunichi  2019-06-24
4            5238          Ben  2019-06-09
...           ...          ...         ...
25204    36425863        Rusaa  2019-07-07
25205    36427429         H Ai  2019-07-07
25206    36438336          Ben  2019-07-07
25207    36442252       Blaine  2019-07-07
25208    36455809    Christine  2019-07-08

[25209 rows x 3 columns]>

In [52]:
room_types.to_csv

<bound method NDFrame.to_csv of        listing_id                                 description        room_type
0            2595                       Skylit Midtown Castle  Entire home/apt
1            3831             Cozy Entire Floor of Brownstone  Entire home/apt
2            5099   Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3            5178             Large Furnished Room Near B'way     Private room
4            5238          Cute & Cozy Lower East Side 1 bdrm  Entire home/apt
...           ...                                         ...              ...
25204    36425863  Lovely Privet Bedroom with Privet Restroom     Private room
25205    36427429                    No.2 with queen size bed     Private room
25206    36438336                             Seas The Moment     Private room
25207    36442252               1B-1B apartment near by Metro  Entire home/apt
25208    36455809     Cozy Private Room in Bushwick, Brooklyn     Private room

[25209 rows x 3 columns]>